<?xml version="1.0" encoding="utf-8"?>
<ScrollView xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="wrap_content">
    <RelativeLayout
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:orientation="vertical"
        android:padding="16dp">
        <CheckBox
            android:id="@+id/image_field_name_checkbox"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:checked="true"
            android:text="@string/name" />
        <Spinner
            android:id="@+id/image_field_name_spinner"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_below="@+id/image_field_name_checkbox" />
        <CheckBox
            android:id="@+id/image_field_image_resolution_checkbox"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_below="@+id/image_field_name_spinner"
            android:checked="true"
            android:text="@string/image_resolution" />
        <CheckBox
            android:id="@+id/image_field_resolution_width_checkbox"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_below="@+id/image_field_image_resolution_checkbox"
            android:layout_marginLeft="16dp"
            android:checked="true"
            android:text="@string/resolution_width" />
        <EditText
            android:id="@+id/image_field_resolution_width_edit_text"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_below="@+id/image_field_resolution_width_checkbox"
            android:layout_marginLeft="16dp"
            android:text="1"
            android:inputType="number" />
        <CheckBox
            android:id="@+id/image_field_resolution_height_checkbox"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_below="@+id/image_field_resolution_width_edit_text"
            android:layout_marginLeft="16dp"
            android:checked="true"
            android:text="@string/resolution_height" />
        <EditText
            android:id="@+id/image_field_resolution_height_edit_text"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_below="@+id/image_field_resolution_height_checkbox"
            android:layout_marginLeft="16dp"
            android:text="1"
            android:inputType="number" />
        <LinearLayout
            android:id="@+id/ll1"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_below="@+id/image_field_resolution_height_edit_text">
            <CheckBox
                android:id="@+id/image_field_image_type_supported_chk"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:checked="true" />
            <Button
                android:id="@+id/image_field_image_type_supported_btn"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:text="@string/add_supported_image_type" />
        </LinearLayout>
        <ListView
            android:id="@+id/image_field_image_type_supported_listview"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_below="@+id/ll1" />
    </RelativeLayout>
</ScrollView>